# the URL base for all API requests
BASE_URL = "http://localhost:6011"

# these are the three components of a Notify API Key
# SERVICE_NAME-ISS_UUID-USER_API_KEY
SERVICE_NAME = "service-name"
ISS_UUID = "my-iss-uuid"
USER_API_KEY = "my-api-key"

# these are 
TEMPLATE_ID = "template-id"
PHONE_NUMBER = "phone-number"

